<div id="galleryHeader">
  <div class="buttons">
    <button class="button" [routerLink]="['/gallery']">
      Gallery
    </button>
    <button class="button" [routerLink]="['/weddings']">
      Weddings
    </button>
    <button class="selectedButton">
      Cinematography
    </button>
  </div>
</div>

<div id="wrapper3">
  <div class="gallerySideScroll">
    <h1 class="title1">Title 1</h1>
    <cdk-virtual-scroll-viewport
      orientation="horizontal"
      itemSize="50"
      class="gallery-viewport"
    >
      <div class="galleryPictures">
        <div id="picture01-g"></div>
        <div id="picture02-g"></div>
        <div id="picture03-g"></div>
        <div id="picture04-g"></div>
        <div id="picture05-g"></div>
        <div id="picture06-g"></div>
        <div id="picture07-g"></div>
        <div id="picture08-g"></div>
        <div id="picture09-g"></div>
        <div id="picture10-g"></div>
        <div id="picture11-g"></div>
        <div id="picture12-g"></div>
        <div id="picture13-g"></div>
        <div id="picture14-g"></div>
        <div id="picture15-g"></div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="gallerySideScroll">
    <h1 class="title1">Title 2</h1>
    <cdk-virtual-scroll-viewport
      orientation="horizontal"
      itemSize="50"
      class="gallery-viewport"
    >
      <div class="galleryPictures">
        <div id="picture11-g"></div>
        <div id="picture06-g"></div>
        <div id="picture07-g"></div>
        <div id="picture08-g"></div>
        <div id="picture09-g"></div>
        <div id="picture10-g"></div>
        <div id="picture12-g"></div>
        <div id="picture13-g"></div>
        <div id="picture14-g"></div>
        <div id="picture15-g"></div>
        <div id="picture01-g"></div>
        <div id="picture02-g"></div>
        <div id="picture03-g"></div>
        <div id="picture04-g"></div>
        <div id="picture05-g"></div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="gallerySideScroll">
    <h1 class="title1">Title 3</h1>
    <cdk-virtual-scroll-viewport
      orientation="horizontal"
      itemSize="50"
      class="gallery-viewport"
    >
      <div class="galleryPictures">
        <div id="picture12-g"></div>
        <div id="picture04-g"></div>
        <div id="picture08-g"></div>
        <div id="picture06-g"></div>
        <div id="picture02-g"></div>
        <div id="picture14-g"></div>
        <div id="picture09-g"></div>
        <div id="picture15-g"></div>
        <div id="picture13-g"></div>
        <div id="picture10-g"></div>
        <div id="picture07-g"></div>
        <div id="picture01-g"></div>
        <div id="picture03-g"></div>
        <div id="picture11-g">
          <button
            class="surpriseButton"
            [routerLink]="['/surprise']"
            mat-menu-item
          >
            <a class="unstyled"></a>
          </button>
        </div>
        <div id="picture05-g"></div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="gallerySideScroll">
    <h1 class="title1">Title 4</h1>
    <cdk-virtual-scroll-viewport
      orientation="horizontal"
      itemSize="50"
      class="gallery-viewport"
    >
      <div class="galleryPictures">
        <div id="picture12-g"></div>
        <div id="picture04-g"></div>
        <div id="picture08-g"></div>
        <div id="picture06-g"></div>
        <div id="picture02-g"></div>
        <div id="picture14-g"></div>
        <div id="picture09-g"></div>
        <div id="picture15-g"></div>
        <div id="picture13-g"></div>
        <div id="picture10-g"></div>
        <div id="picture07-g"></div>
        <div id="picture01-g"></div>
        <div id="picture03-g"></div>
        <div id="picture11-g"></div>
        <div id="picture05-g"></div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
