<div class="app">
  <div class="header">
    <div class="wrapper1">
      <div class="logo">KV</div>
      <div class="title">KRYCINEMA VISUALS</div>
    </div>
    <button mat-button [matMenuTriggerFor]="menu" class="dropdown">
      MENU
    </button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/home']" mat-menu-item>
        <a class="unstyled">Home</a>
      </button>
      <button [routerLink]="['/gallery']" mat-menu-item>
        <a class="unstyled">Gallery</a>
      </button>
      <button [routerLink]="['/contact']" mat-menu-item>
        <a class="unstyled">Contact Us</a>
      </button>
    </mat-menu>
  </div>
  <router-outlet></router-outlet>
  <div id="appBackground"></div>
</div>
