<div class="renderedPage">
  <div class="sideScroll3">
    <cdk-virtual-scroll-viewport
      orientation="horizontal"
      itemSize="50"
      class="example-viewport"
    >
      <div class="pictures3">
        <div class="homePicture" id="picture01"></div>
        <div class="homePicture" id="picture02"></div>
        <div class="homePicture" id="picture03"></div>
        <div class="homePicture" id="picture04"></div>
        <div class="homePicture" id="picture05"></div>
        <div class="homePicture" id="picture06"></div>
        <div class="homePicture" id="picture07"></div>
        <div class="homePicture" id="picture08"></div>
        <div class="homePicture" id="picture09"></div>
        <div class="homePicture" id="picture10"></div>
        <div class="homePicture" id="picture11"></div>
        <div class="homePicture" id="picture12"></div>
        <div class="homePicture" id="picture13"></div>
        <div class="homePicture" id="picture14"></div>
        <div class="homePicture" id="picture15"></div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
